.nav{
    margin: 30px 5px 0 5px;
}
.nav ul {
    background-color: rgba(255, 255, 255, 0.3);
    height: 50px;
}
.nav ul li{
    display: inline;
    position: relative;
    left: 80%;
    text-align: right;
    line-height: 50px;
}
.redes{
    text-align: right;
    margin-top: 10px;
    margin-right: 15px;
}
.h1{
    font-size: 60px;
    font-family: Raleway;
}
.h2{
    font-family: Open Sans;
    font-size: 30px;
}