.nav{
    margin: 10px 20px 0 5px;
    background: url(../img/emilia-music-top.jpg);
    height: 80px;
}
.nav ul li{
    display: inline;
    position: relative;
    left: 80%;
    text-align: right;
    line-height: 40px;
}
.redes{
    text-align: right;
    margin-right: 10px;
    margin-top: -5px;
}
.h1{
    font-family: Raleway;
    font-size: 60px;
}
h2{
    font-family: Raleway;
    font-size: 40px;
}
p{
    font-family: Open Sans;
    font-size: 20px;
}
.links{
    font-size: 20px;
    font-family: Open Sans;
}
.first{
    font-size: 20px;
    font-family: Open Sans;
}
.reproductor{
    font-size: 20px;
    font-family: Open Sans;
}